@page "/counter"
@using System.Security.Claims

<AuthorizeView>
  <Authorized>
    The user: @context.User.FindFirst(ClaimTypes.Name).Value is authorized.
  </Authorized>
  <NotAuthorized>
    The user is NOT authorized.
  </NotAuthorized>
</AuthorizeView>

<CountPrint CurrentCount="currentCount" Title="Counter" />

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
  private int currentCount = 0;

  private void IncrementCount()
  {
    currentCount++;
  }
}