@page "/"
@page "/index"

<Home Title="Welcome to the BlazorHostedIdentity.Client application." AdditionalAttributes="AdditionalAttributes">
  <ChildContent>
    Feel free to
    <a href="https://shockzinfinity.github.io" target="_blank">visit my blog</a>
    any time you want.
  </ChildContent>
  <ContactMe>
    Feel free to send email <a href="mailto://shockzinfinity@gmail.com">shockzinfinity@gmail.com</a>
  </ContactMe>
</Home>

<br />

<h3>
  Use the following links to explore different examples
  of using a JS code with .NET in Blazor WebAssembly Project:
</h3>

<ul>
  <li>
    <a href="/jsindotnet">
      How to call JavaScript code from .NET
    </a>
  </li>
</ul>

@code {
  public Dictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>
{
    {"src", "/assets/shockzHomePicture.jpg" },
    {"alt", "Home component" }
  };
}