<button class="btn btn-@Color" type="submit" disabled="@IsBusy" @onclick="OnClickCallback" @onclick:preventDefault="PreventDefault">
  <i class="fal fa-@Icon"></i><span>@DisplayCaption</span>
</button>