<div style="text-align:center">
  <h1 style="color: @Color">
    @Title
  </h1>
  <p>
    Feel free to
    <a href="https://shockzinfinity.github.io" target="_blank">visit my blog</a>
    any time you want.
  </p>
  <p>
    <img @attributes="AdditionalAttributes" class="img-fluid" />
  </p>
</div>